
@{
    ViewBag.Title = "EmployeeHome";
    Layout = "~/Views/Shared/View.cshtml";
}
<div class="jumbotron">
    <h1>Dog Parlour</h1>
    <p class="lead">We take care of your loved furry friends that paws into your lives and we do that in style and luxury we promise the extraordinary</p>

</div>
